<!DOCTYPE html>
<html>
  <head>
    <title>TinderTimes</title>
    <!-- <link rel="shortcut icon" type="image/png" href="/images/footprint.png"/> -->
    <link href='https://fonts.googleapis.com/css?family=Marvel:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
  </head>
  <body>
    <div id="page-wrap">
    	<div id="navbar">
        <h1>Welcome!</h1>
      </div>
      <hr>
  		<div id="content"></div>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

<!-- 	<script type="text/babel" src="/javascripts/app.js"></script>
  <script type="text/babel" src="/javascripts/dinodetail.js"></script>
  <script type="text/babel" src="/javascripts/dinolist.js"></script> -->

</html>

