div#tinder-buttons {
  text-align: center;
  margin: 0.2vw;
}

div#tinder-buttons button {
	background: white;
	color: black;
	border: 1px solid #333333;
	font-size: 1.1vw;
	width: 7%;
	-moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0.2vw;
  padding: 0.1%;
}

div#tinder-buttons button:hover {
	background: #333333;
	color: white;
}