/*Dashboard History Carousel*/
.carouselhistory {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.carouselhistory h1 {
  font-weight: 100;
}

.carouselhistory figure {
    margin: 0;
}

.react-3d-carousel {
    width: 100%;
    height: 25vw;
    position: relative;
    perspective: 1000px;
}

.react-3d-carousel .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.react-3d-carousel .carousel  figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 30vw;
    left: 10px;
    top: 10px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.react-3d-carousel .carousel figure {
    background: black;
    width: 100%;
}

.react-3d-carousel   .prev {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0px;
    left: 0px;
}

.react-3d-carousel   .prev:before {
    content: url("http://s3.postimg.org/o6xpvkidb/chevron_left_white.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 43px;
    height: 49px;
    margin: auto;
}

.react-3d-carousel  .next {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0px;
    right: -5px;
}
.react-3d-carousel  .next:before
{
    content: url("http://s2.postimg.org/l0n6eaoad/chevron_right_white.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 43px;
    height: 49px;
    margin: auto;
}

.imagedashdiv { 
   position: relative; 
   height: 100%;
   width: 100%;
}

.imagedash {
  position: absolute;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imagedashdiv:hover > .imagedash {
  opacity: 0.3;
}

.imagetextdash {
  width: 80%;
  margin-left: 4vw;
  margin-right: 4vw;
  text-align:center;
  position: absolute; 
  line-height: 4vw;
  height: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imagedashdiv:hover > .imagetextdash {
  height: 100%;
}

.imagetextdash p {
  font-weight: 100;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.openbutton {
  float: left;
  position: relative;
  z-index: 2;
}

.openbutton button {
  display: block;
  width: 100px;
  height: 50px;
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  color: #CCC;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.openbutton button:hover {
  background-color: #999999;
  color: #fff;
}

.openbutton button:focus {
  outline: none;
}

.deletebutton {
  float: right;
  position: relative;
  z-index: 2;
}

.deletebutton button {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 40px;
  background: transparent;
  color: #CCC;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.deletebutton button:hover {
  background-color: #999999;
  color: #fff;
}

.deletebutton button:focus {
  outline: none;
}