div.article-container {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.article-words, .bg-image {
	margin-top: 2%;
	text-align: center;
	position: absolute;
}

.article-words {
	background-image: url('/img/opacity.png');
	width: 55%;
	margin-left: 22%;
	position: absolute;
	margin-top: 25vw;
	padding: 0.5% 0.5%;
	border-radius: 5%;
}

.article-words h1 {
	color: #BBBBBB;
	font-size: 2vw;
}

.article-words p {
	text-align: left;
	color: #DDDDDD;
	font-size: 1vw;
}

.article-header {
	display: inline-block;
	padding: 0% 2%;
}

.article-content {
	margin: -2% 1% 4%;
}

.bg-image {
	width: 100%;
  z-index: 0;
  height: 40vw;
}

.bg-image:after {
	content: '.';
	display: 'none';
}

.bg-image img {
	height: 100%;
	-webkit-filter: blur(3px) brightness(30%);
  -moz-filter: blur(3px) brightness(30%);
  -o-filter: blur(3px) brightness(30%);
  -ms-filter: blur(3px) brightness(30%);
  filter: blur(3px) brightness(30%);
  opacity: 0.8;
}